.txt
{
    color: black;
    transition: all 500ms ease-in-out;
}
.txt:hover{
    color: rgb(150, 24, 24);
    font-weight: bold;
}
.hover:hover
{
    background-color: rgb(0, 255, 106,0.1);
}

.search-hero 
{
    max-width: 400px;
    padding-bottom: 50px;
    margin:auto;
  }
  
  .form-control {
    padding: 20px;
    box-shadow: 0 10px 40px 0 #B0C1D9;
  }
  .form-control::placeholder  {

    font-family: FontAwesome;
  }

  
.load-more{
  background-color:#000;
  color:#fff !important;
  margin-left: 610px;
  margin-bottom: 100px;
  padding:5px 10px;
  border-radius:4px;
  font-size:20px;
  display:inline-block;
}



@media(max-width:600px)
{

  .load-more{
    margin: 0 0 ;
    margin-left: 140px;
    margin-bottom: 50px;
  }
}

/* toast.component.css */

.toast {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #333;
  color: #fff;
  padding: 15px;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.toast-show {
  opacity: 1;
}
.res1{
  color: red;
  position: absolute;
  z-index: 1;
  margin-top:3px ;
}
.fix{
  position:static;
  z-index: -1;
  color: rgb(199, 195, 195);
  
}

::placeholder {
 color: #a09999;
 font-size: 18px;
}


li a {
  text-decoration: none;
  color: #2d2f31;
}

nav {
  width: 300px;
  background: #d9d9d9;
  margin: 40px auto;
}

.dropdown-btn {
  padding: 15px;
  background: #2d2f31;
  color: white;
  font-size: 1.2em;
  font-variant: small-caps;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.dropdown-btn i {
  margin-left: 10px;
}

.dropdown-content {
  padding: 10px;
}

.dropdown-content select {
  margin-bottom: 10px;
}

.dropdown-content button {
  margin-top: 10px;
}

.dropdown-content .collapse {
  transition: height 0.4s ease;
  height: 0;
  overflow: hidden;
}

.show .dropdown-content .collapse {
  height: auto;
}


.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;

}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

/* Styling for the horizontal navbar */
.horizontal-navbar {
  display: none; /* Initially hide the horizontal navbar */
  // background: url('../../assets/hero-bg.jpg'),linear-gradient(to right, rgba(32, 106, 93, 0.6), rgba(32, 106, 93, 0.7), rgba(32, 106, 93, 0.6));
  background-blend-mode:darken;
  background-size: cover;
  background-repeat: no-repeat;
  height:100%;
  width: 100%;
  overflow: hidden;

}

.horizontal-navbar a {
  float: left;
  display: block;
  color: rgb(0, 0, 0);
  text-align: center;
 padding: 14px 16px;
  text-decoration: none;
align-content: center;
justify-content: center;
display: flex;
flex-wrap: wrap;
margin-top: 15px;
transition: all 0.3s ease-in-out;
}

.horizontal-navbar a:hover {
  // background-color: #ddd;
  border-radius: 20px;
  // color: black;

  box-shadow: inset 100px 0 0 0 #7e7d7d;
  color: white;
}

/* Media query to show the horizontal navbar on larger screens */
@media (min-width: 768px) {
  .sidenav {
    display: none; /* Hide the sidebar on larger screens */
  }

  .horizontal-navbar {
    display: block; /* Show the horizontal navbar on larger screens */
  }

  /* Hide the "open" button and text in horizontal view */
  span {
    display: none;
  }


}
label.logo{
  color: white;
  font-size: 35px;
  line-height: 80px;
  padding: 0 100px;
  font-weight: bold;
  float: left;
}