.icon
{
    transition-duration: 500ms;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    text-align: center;
    color: white;
    border: 1px solid ;
    line-height: 40px;
}
.fa-facebook-f{
background-color: #316FF6;
}
.fa-twitter
{
    background-color:#1DA1F2;
}
.fa-google
{
    background-color: red;
}
.fa-instagram
{
    background: linear-gradient(135deg, #833ab4, #fd1d1d, #fcb045);
}
.fa-linkedin
{
    background-color: #0077B5;
}
.fa-github
{
    background-color: black;
}