<!-- 
<div>
    <footer class="text-center text-lg-start text-white" style="background-color:#206a5d;">


    <div class="social-icons pt-3">
        <a href="" class="text-white socialicon">
          <i class="fa fa-facebook-f  icon"  ></i>
        </a>
        <a href="" class="text-white socialicon">
          <i class="fa fa-twitter  icon"></i>
        </a>
        <a href="" class="text-white socialicon">
          <i class="fa fa-google icon "></i>
        </a>
        <a href="" class="text-white socialicon">
          <i class="fa fa-instagram icon"></i>
        </a>
      </div> 
      

      <section class="">
        <div class="container text-center text-md-start mt-5">

          <div class="row mt-3">

            <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">

              <h6 class="text-uppercase fw-bold">Company name</h6>
              <hr
                  class="mb-4 mt-0 d-inline-block mx-auto"
                  style="width: 150px; background-color:white; height: 2px"
                  />
              <p>
                Adhir Info<br>
                IT Company<br>
                Jamnagar - 361005
              </p>
            </div>

            <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mb-5">

              <h6 class="text-uppercase fw-bold">Payment methods</h6>
             <img src="../../assets/payments.png" >
            </div>

            <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
              
              <h6 class="text-uppercase fw-bold">Useful links</h6>
              <hr
                  class="mb-4 mt-0 d-inline-block mx-auto"
                  style="width: 100px; background-color: white; height: 2px"
                  />
              <p>
                <a routerLink="/user" class="text-white">Your Account</a>
              </p>
              <p>
                <a href="#!" class="text-white">Become an Affiliate</a>
              </p>
              <p>
                <a href="#!" class="text-white">Shipping Rates</a>
              </p>
              <p>
                <a href="#!" class="text-white">Help</a>
              </p>
            </div>
          
            <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
              <h6 class="text-uppercase fw-bold">Contact</h6>
              <hr class="mb-4 mt-0 d-inline-block mx-auto"
                  style="width: 100px; background-color: white; height: 2px"
                  />
                  <div style="text-align: left; margin-left: 27%; ">
              <p><i class="fa fa-home mr-3"></i> New York, NY 10012</p>
              <p><i class="fa fa-envelope mr-3"></i> info@example.com</p>
              <p><i class="fa fa-phone mr-3"></i> + 91 234 567 88</p>
              <p><i class="fa fa-print mr-3"></i> + 91 234 567 89</p>
              </div>
            </div>
          </div>
          
        </div>
      </section>

  
          <div
           class="text-center p-3"
           style="background-color: rgba(0, 0, 0, 0.3)"
           >
        © 2023 Copyright By
        <a class="text-white" href="#"
           >Adhir Info</a
          >
      </div>
</footer>

  </div> -->




  <!-- footer.component.html -->

<footer>
  <div style="margin-bottom: 50px;">
    <div class="social-icons pt-3">
      <a href="" class="text-white socialicon">
        <i class="fa fa-facebook-f  icon"  ></i>
      </a>
      <a href="" class="text-white socialicon">
        <i class="fa fa-twitter  icon"></i>
      </a>
      <a href="" class="text-white socialicon">
        <i class="fa fa-google icon "></i>
      </a>
      <a href="" class="text-white socialicon">
        <i class="fa fa-instagram icon"></i>
      </a>
    </div> 
  </div>
    <div class="footer-content">
    <div class="categories">
      <h4>Explore Categories</h4>
      <ul>
        <li>Indoor Plants</li>
        <li>Outdoor Plants</li>
        <li>Succulents</li>
        <li>Plant Care</li>
        <li>Gardening Tools</li>
      </ul>
    </div>

    <div class="helpful-links">
      <h4>Helpful Links</h4>
      <ul>
        <li><a routerLink="/about">About Us</a></li>
        <li><a routerLink="/contact">Contact Us</a></li>
        <li><a routerLink="/faqs">FAQs</a></li>
        <li><a routerLink="/shipping">Shipping & Returns</a></li>
        <li><a routerLink="/blog">Blog</a></li>
      </ul>
    </div>

    <div class="connect">
      <h4>Connect with Us</h4>
      <!-- Add your social media icons or links here -->
    </div>

    <!-- Add more sections as needed -->

    <div class="copyright">
      <p style="color: black;">&copy; 2023 Plant Website. All rights reserved.</p>
    </div>
  </div>
</footer>
