<div class="container">
<div class= "row mt-5" >
    <div class="col-sm-4" >
    <img src="https://i.ytimg.com/vi/_NltVXqwGQw/maxresdefault.jpg" width="400" class="img1">
    </div>
    <div class="col-sm-8 align-self-center">
        <h1>404</h1>
        <h2>UH OH! You're lost.</h2>
        <p>The page you are looking for does not exist.
          How you got here is a mystery. But you can click the button below
          to go back to the homepage.
        </p>
       
        <div class="text-box">
          <a href="#" class="btn btn-white btn-animate" routerLink="/index">back to Home</a>
       
        </div>
      </div>
</div>
</div>
        
  

