<app-header></app-header>

<div class="container d-flex justify-content-center">
    <div class="main-container">
        <h3>Product <span class="span-color">Info</span></h3>
        <div class="bg-white p-3" style="display:flex; justify-content: space-between;">
            <p>Products : </p>
            <p>{{allq}}</p>
        </div>
        <h3>Choose <span class="span-color">Address</span></h3>
        <div class="address bg-white p-3">
            <div class="address1">
                <input type="radio" id="home_address" name="address" [(ngModel)]="selection" value="{{data.home_address}}" checked>
                <label>{{data.home_address}}</label>
            </div>
            <div class="address2" *ngIf="data.office_address">
                <input type="radio" id="office_address" name="address" [(ngModel)]="selection" value="{{data.office_address}}">
                <label>{{data.office_address}}</label>
            </div>
            <div class="address3" *ngIf="data.other_address">
                <input type="radio" id="other_address" name="address" [(ngModel)]="selection" value="{{data.other_address}}">
                <label>{{data.other_address}}</label>
            </div>
            <p style="font-weight: 700;">Selected Option: <span class="text-danger">{{ selection }}</span></p>
            <div class="address4" *ngIf="!data.office_address || !data.other_address">
                <button class="btn btn-primary" data-toggle="collapse" href="#multiCollapseExample1" role="button" aria-expanded="false" aria-controls="multiCollapseExample1">Add new Address</button>
                <div class="collapse multi-collapse" id="multiCollapseExample1">
                    <form (submit)="saveChanges()">
                        <div *ngIf="!data.office_address">
                            <p>Office Address</p>
                            <textarea type="text" id="office" name="office" [(ngModel)]="form.office" rows="3" cols="50" class="textarea"></textarea>
                        </div>
                        <div *ngIf="!data.other_address">
                            <p>Other Address</p>
                            <textarea type="text" id="other" name="other" [(ngModel)]="form.other" rows="3" cols="50" class="textarea" ></textarea>
                        </div>

                        <button class="btn btn-primary" type="submit">Submit</button>
                    </form>

                </div>
            </div>
        </div>
        <h3>Total <span class="span-color">Amount</span></h3>
        <div class="totalamount">
            <div class="bg-white p-3" style="display:flex; justify-content: space-between;">
                <div>
                    <strong>Total amount</strong>
                    <strong>
          <p class="mb-0">(including TAX)</p>
        </strong>
                </div>
                <span><strong>{{total}}</strong></span>
            </div>

        </div>
        <div class="checkout mt-4">
            <button type="button" value="Go To Checkout" class="btn btn-primary btn-lg btn-block" (click)="currentorderold({orderID:orderId,userId:user,Price:total,quantity:allq,address:selection})">
                Go To Checkout New
              </button>
        </div>
    </div>
</div>
<app-footer></app-footer>
