
<app-header></app-header>

<div class="profile-container">

    <div class="left-panel" >
        <img src="https://img.freepik.com/premium-vector/people-saving-money_24908-51569.jpg" alt="User Image" class="user-image" />
        <div class="button-container">
            <button *ngIf="data.role=='admin'" class="button" routerLink="/admin">Admin</button>
            <button class="button" routerLink="/order">Orders</button>
            <button class="button" routerLink="/orderlist">Order List</button>
            <button class="button" routerLink="/wishlist">Wishlist</button>
             <button class="button btn" (click)="onLogout()">Logout</button>
        </div>
    </div>
    <div class="right-panel" style="margin-top: 50px;">
        <button (click)="editUser()" style="background-color: transparent;color: black;"><i class="fa fa-edit"></i></button>
        <div *ngIf="!editing" class="detail mt-2">
            <p>UserName : {{data.username}}</p>
            <p>Email : {{data.email}}</p>
            <p>Phone No. : {{data.phone}}</p>
            <p>Home Address : {{data.home_address}}</p>
            <p>Office Address : {{data.office_address}}</p>
            <p>Other Address : {{data.other_address}}</p>
        </div>
        <div *ngIf="editing">
            <form (submit)="saveChanges()">
                <div>
                    <p>UserName : </p>
                    <input type="text" id="username" name="username" [(ngModel)]="data.username" required>
                </div>
                <div>
                    <p>Email : </p>
                    <input type="email" id="email" name="email" [(ngModel)]="data.email" required>
                </div>
                <div>
                    <p>phone No. : </p>
                    <input type="number" id="number" name="num" [(ngModel)]="data.phone" required>
                </div>
                <div>
                    <p>home_address : </p>
                    <input type="text" id="home_address" name="home_address" [(ngModel)]="data.home_address" required>
                </div>

                <div>
                    <p>office_address : </p>
                    <input type="text" id="office_address" name="office_address" [(ngModel)]="data.office_address" required>
                </div>
                <div>
                    <p>other_address : </p>
                    <input type="text" id="other_address" name="other_address" [(ngModel)]="data.other_address" required>
                </div>

                <div>
                    <button type="button" (click)="cancelEdit()">Cancel</button>
                    <button type="submit">Save Changes</button>
                </div>
            </form>
        </div>

    </div>
</div>


<app-footer></app-footer>