<!-- <div class="container p-5 m-5" style="display: flex; flex-direction: column; gap:40px;">

    <button class="btn btn-primary w-25" routerLink="/admin/add-admin">Add admin</button>
    <button class="btn btn-primary w-25" routerLink="/admin/add-plant">Add plant</button>
    <button class="btn btn-primary w-25" routerLink="/admin/plant-details">plant-details</button>
</div> -->


<!-- <ul class="shadow-button-set">
    <li><button routerLink="/admin/add-admin">Add Admin</button></li>
    <li><button>Continue</button></li>
    <li><button>Online</button></li>
    <li><button>Settings</button></li>
    <li><button>Quit</button></li>
  </ul> -->

  <nav>
    <div class="wrapper">
      <div class="logo"><img src="../../assets/plantmainlogo.png" width="50px" height="50px"></div>
      <input type="radio" name="slider" id="menu-btn">
      <input type="radio" name="slider" id="close-btn">
      <ul class="nav-links">
        <label for="close-btn" class="btn close-btn"><i class="bi bi-x close"></i></label>
           <li>
          <div class="desktop-item dd">Stock<i class="bi bi-chevron-down" ></i></div>
          <input type="checkbox" id="showDrop">
          <label for="showDrop" class="mobile-item">Stock<i class="bi bi-chevron-down"> </i></label>
          <ul class="drop-menu">
            <li><a routerLink="/admin/stock/add-new-stock">Add New Stock</a></li>
            <li><a routerLink="/admin/stock/total-stock">Total Stock</a></li>
          </ul>
        </li>
        <li>
          <div class="desktop-item dd">Admin<i class="bi bi-chevron-down" ></i></div>
          <input type="checkbox" id="showDrop2">
          <label for="showDrop2" class="mobile-item">Admin<i class="bi bi-chevron-down" ></i></label>
          <ul class="drop-menu">
            <li><a  routerLink="/admin/add-admin/add-new-admin">Add Admin</a></li>
            <li><a routerLink="/admin/add-admin/list-of-user">List of Users</a></li>
          </ul>
        </li>
        <li>
          <div class="desktop-item dd">Plants Details<i class="bi bi-chevron-down" ></i></div>
          <input type="checkbox" id="showDrop3">
          <label for="showDrop3" class="mobile-item">Plants Details<i class="bi bi-chevron-down" ></i></label>
          <ul class="drop-menu">
            <li><a routerLink="/admin/add-plant">Add Plant</a></li>
            <li><a routerLink="/admin/plant-details/list-of-plants">List of Plants </a></li>
            <li><a routerLink="/admin/plant-details/list-of-trendingplant">Trending Plants</a></li>
          </ul>
        </li>

      </ul>
      <label for="menu-btn" class="btn menu-btn"><i class="bi bi-list open"></i></label>
    </div>
  </nav>
