// // @use postcss-nested;

// .shadow-button-set {
//   margin: 0;
//   display: flex;
//   flex-direction: column;
//   align-items: flex-start;
//   gap: 2.5vmin;
  
//   & > li {
//     display: inline-flex;
//     background: black;
    
//     &:is(:hover, :focus-within) > button:not(:active) {
//       --distance: -10px;
//     }
//   }
  
//   & button {
//     appearance: none;
//     outline: none;
//     font-size: 5vmin;
//     border: 3px solid black;
//     background: white;
    
//     --distance: 0;
//     transform: translateX(var(--distance)) translateY(var(--distance));
    
//     @media (prefers-reduced-motion: no-preference) {
//       will-change: transform;
//       transition: transform .2s ease ;
//     }
//   }
// }

// * {
//   box-sizing: border-box;
//   margin: 0;
// }

// html {
//   block-size: 100%;
// }

// body {
//   min-block-size: 100%;
//   font-family: system-ui, sans-serif;
  
//   display: grid;
//   place-content: center;
// }


@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.min.css");
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  font-size: 24px;
}
nav{
  position: fixed;
  z-index: 99;
  width: 100%;
  
  background: #ffffff;
}
nav .wrapper{
  position: relative;
  max-width: 1300px;
  padding: 0px 30px;
  height: 70px;
  line-height: 70px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.wrapper .logo a{
  color: #000000;
  font-size: 30px;
  font-weight: 600;
  text-decoration: none;
}

.wrapper .nav-links{
  display: inline-flex;
}
.nav-links li{
  list-style: none;
}
.nav-links li a{
  color: #000000;
  text-decoration: none;
  font-size: 18px;
  font-weight: 500;
  padding: 9px 15px;
  border-radius: 5px;
  transition: all 0.3s ease;
  
}
.nav-links li a:hover{
  background: #37b64c;
}
.nav-links .mobile-item{
  display: none;
}
.nav-links .drop-menu{
  position: absolute;
  background: #ffffff;
  width: 180px;
  line-height: 45px;
  top: 85px;
  opacity: 0;
  visibility: hidden;
  box-shadow: 0 6px 10px rgba(0,0,0,0.15);
}
.nav-links li:hover .drop-menu,
.nav-links li:hover .mega-box{
  transition: all 0.3s ease;
  top: 70px;
  opacity: 1;
  visibility: visible;
}
.drop-menu li a{
  width: 100%;
  display: block;
  padding: 0 0 0 15px;
  font-weight: 400;
  border-radius: 0px;
}
.mega-box{
  position: absolute;
  left: 0;
  width: 100%;
  padding: 0 30px;
  top: 85px;
  opacity: 0;
  visibility: hidden;
}
.mega-box .content{
  background: #242526;
  padding: 25px 20px;
  display: flex;
  width: 100%;
  justify-content: space-between;
  box-shadow: 0 6px 10px rgba(0,0,0,0.15);
}
.mega-box .content .row{
  width: calc(25% - 30px);
  line-height: 45px;
}
.content .row img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.content .row header{
  color: #f2f2f2;
  font-size: 20px;
  font-weight: 500;
}
.content .row .mega-links{
  margin-left: -40px;
  border-left: 1px solid rgba(255, 255, 255, 0.09);
}
.row .mega-links li{
  padding: 0 20px;
}
.row .mega-links li a{
  padding: 0px;
  padding: 0 20px;
  color: #d9d9d9;
  font-size: 17px;
  display: block;
}
.row .mega-links li a:hover{
  color: #f2f2f2;
}
.wrapper .btn{
  color: #000000;
  font-size: 24px;
  cursor: pointer;
  display: none;
}
.wrapper .btn.close-btn{
  position: absolute;
  right: 30px;
  top: 10px;
}
.dd 
{
  font-size: 16px;
  padding: 10px;
  
}


