<app-header></app-header>
<div class="heading_container heading_center mt-5">
    <h2>
        About <span>Us</span>
      </h2>
    </div>
<div class="row mt-5">
   
      
    <div class="col-sm-6 p-3 mb-5">
        <img src="https://st4.depositphotos.com/1054144/24138/i/450/depositphotos_241389492-stock-photo-young-plant-in-sunlight.jpg">
    </div>
    <div class="col-sm-5 p-5 mb-5">
      <div class="contaiener">
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptatibus nam, distinctio atque quo pariatur consequatur vero esse dolore? Iure commodi praesentium modi dolore, eaque accusantium consectetur ab? Illum incidunt consectetur optio aperiam nemo similique quibusdam non fugit, accusamus eos odit omnis id fuga rem sed tempore pariatur temporibus. Labore, iure!</p>
     </div>
    </div>
</div>
<app-footer></app-footer>