
<app-header></app-header>
<div class="heading_container heading_center ">
    <h2>
        About <span>Us</span>
    </h2>
</div>

<section class="about-us">
    <div class="about">
        <img src="../../assets/filter/season_plant.png" class="pic">
        <div class="text">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Expedita natus ad sed harum itaque ullam enim quas, veniam accusantium, quia animi id eos adipisci iusto molestias asperiores explicabo cum vero atque amet corporis! Soluta illum facere
                consequuntur magni. Ullam dolorem repudiandae cumque voluptate consequatur consectetur, eos provident necessitatibus reiciendis corrupti!</p>
        </div>
    </div>
</section>

<app-footer></app-footer>


