<!-- <body scroll="no">
	<div class="overlap"></div>
	<nav>
		<input type="checkbox" id="check">
		<label for="check" class="checkbtn">
			<i class="fa fa-bars"></i>
		</label>
		<label class="logo">Plant</label>
		<ul>
			<li><button class="btn" routerLink="/signup">Signup</button></li>
			<li><button class="btn" routerLink="/login">Login</button></li>
		
			</ul>
	</nav>
</body> -->
<app-header></app-header>
<!-- <div class="most_main" style="background-color: rgba(236, 236, 236,0.7);">
	<div class="main_1">
		<div class="main_1_1">
			<img src="../../assets/back4.jpg" alt="" class="main_img">
		</div>
		<div class="main_1_2">
			<div class="main_text">
				<b> Login</b>
			</div>
      <form (ngSubmit)="login()" >
			<div class="ml-5 m-2">
				<div>
					<label for="username" class="label1 ml-3">Username :-</label>
				</div>
				<div>
					<input type="text"class="w-90 email1" id="username" [(ngModel)]="username" name="username">
				</div>
			</div>
			<div class="ml-5 m-2">
				<div>
					<label for="Password" class="label1 ml-3 ">Password :-</label>
				</div>
				<div>
					<input type="password" class="w-90 Password1" id="password" [(ngModel)]="password" name="password">
				</div>
			</div>
      <div>
		<div>
			<p style="cursor:poiter; padding-left: 50px;" routerLink="/signup">You don't have account | Sign Up</p>
		</div>
        <div *ngIf="errorMessage" class="errorMessage">
          {{errorMessage}}
        </div>
      </div>
			<div>
				<div class="center1">
					<input type="submit" class="btn btn-success w p-1 m-2">
				</div>
			</div>
      
    </form>
		</div>
	</div>
</div>

<div class="md_main" scroll="no">
	<div class="md_ma">
		<div class="we">
			<br>
			<b>WelCome</b>
		</div>
		<div class="a">
			<div class="w-90">
				<div class="main_text">
					<b>Login</b>
				</div>
        <form (ngSubmit)="login()" >
				<div>
					<div>
						<b>
							<label for="username" class="label1 ml-2">Username :-</label>
						</b>
					</div>
					<div>
            <input type="text"class="w-90 email1" id="username" [(ngModel)]="username" name="username">
					</div>
				</div>
				<div>
					<div>
						<b>
							<label for="password" class="label1 ml-2">Password :-</label>
						</b>
					</div>
					<div>
            <input type="password" class="w-90 Password1" id="password" [(ngModel)]="password" name="password">
					</div>
				</div>
				
        <div class="mt-2">
			<div>
				<p style="cursor:pointer; padding-left: 10px;" routerLink="/signup">You don't have account | Sign Up</p>
			</div>
          <div *ngIf="errorMessage" class="errorMessage2">
            {{errorMessage}}
          </div>
        </div>
				<div>
					<div class="f_md m-2">
						<b>Forget Password</b>
					</div>
				</div>
      
				<div>
					<div>
						<b>
							<input type="submit" class="btn btn-success btn_md m-2">
						</b>
					</div>
				</div>
        </form>
			</div>
		</div>
	</div>
</div>
 -->

 <!DOCTYPE html>
  <!-- Coding By CodingNepal - codingnepalweb.com -->
  <html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Login & Registration Form</title>
    <!---Custom CSS File--->

  </head>
  <body>
    <div class="container">
      <input type="checkbox" id="check">
      <div class="login form">
        <header>Login</header>
        <form (ngSubmit)="login()">
          <input type="text" placeholder="Enter your username" id="username" [(ngModel)]="username" name="username">
          <input type="password" placeholder="Enter your password" id="password" [(ngModel)]="password" name="password">
          <a href="#">Forgot password?</a>
          <input type="submit" class="button btn btn-success" value="Login">
        </form>
        <!-- <div class="signup">
          <span class="signup">Don't have an account?
           <label for="check">Signup</label>
          </span>
        </div> -->
		<div class="signup">
			<div>
				<p style="cursor:pointer; padding-left: 10px;" routerLink="/signup">You don't have account | Sign Up</p>
			</div>
          <div *ngIf="errorMessage" class="errorMessage2">
            {{errorMessage}}
          </div>
        </div>
      </div>
 
    </div>
  </body>
  </html>


<app-footer></app-footer>