<!DOCTYPE html>
<html lang="en">

<head>
</head>
<app-admin></app-admin>
<body>
    <div class="msg" *ngIf="errormessage || success">
        <div class="icon" *ngIf="success "><i class="bi bi-person-fill-check"></i></div>
        <div class="icon" *ngIf="errormessage "><i class="bi bi-exclamation-triangle-fill"></i></div>
        <div *ngIf="errormessage " class="errorMessage">{{errormessage}}</div>
        <div *ngIf="success " class="success ">{{success}}</div>
        <!-- <div class="text">Add to card successfully <span>View Cart</span></div> -->
    </div>

    
    

         


<section>
   <div class="container">
      <div class="title">Add Plant</div>
      <div class="content">
        <form (ngSubmit)="addplant(plantdata) ">
          <div class="user-details">
            <div class="input-box">
              <span class="details">Family</span>
              <input type="text" class="form-control" name="Family" id="Family" [(ngModel)]="plantdata.Family" placeholder="Enter Family" >
            </div>
            <div class="input-box">
              <span class="details">Botanical Name</span>
              <input type="text"  class="form-control" name="Botanical_Name" id="Botanical_Name" [(ngModel)]="plantdata.Botanical_Name" placeholder="Enter Botanical Name">
            </div>
            <div class="input-box">
              <span class="details">Common Name</span>
              <input type="text"  class="form-control" name="Common_Name" id="Common_Name" [(ngModel)]="plantdata.Common_Name" placeholder="Enter Common Name">
            </div>
            <div class="input-box">
              <span class="details">Photo 1</span>
              <input type="file" class="form-control file" name="Photo_1" id="Photo_1" [(ngModel)]="plantdata.Photo_1" >
            </div>
          
            <div class="input-box">
             <span class="details">Photo 2</span>
                <input type="file" class="form-control file" name="Photo_2" id="Photo_2" [(ngModel)]="plantdata.Photo_2" >
            </div>

            <div class="input-box">
                <span class="details">Photo 3</span>
                <input type="file" class="form-control file" name="Photo_3" id="Photo_3" [(ngModel)]="plantdata.Photo_3" >
            </div>
            
            <div class="input-box">
                <span for="details">Category</span>
                <select class="form-control" name="Category" id="Category" [(ngModel)]="plantdata.Category">
            <option value="">--Select Values--</option>
            <option value="Both">Both</option>
            <option value="Indoor">Indoor</option>
            <option value="Outdoor">Outdoor</option>
        </select>
        </div>
        <div class="input-box">
            <span for="details">Growing Time</span>
            <select class="form-control" name="Growing_Time" id="Growing_Time" [(ngModel)]="plantdata.Growing_Time">
        <option value="">--Select Values--</option>
        <option value="Long">Long</option>
        <option value="Medium">Medium</option>
        <option value="Quick">Quick</option>
    </select>
        </div>
        <div class="input-box">
            <span for="details">Maintenance</span>
            <select class="form-control" name="Maintenance" id="Maintenance" [(ngModel)]="plantdata.Maintenance">
        <option value="">--Select Values--</option>
        <option value="Easy">Easy</option>
        <option value="Mid">Mid</option>
        <option value="Pro">Pro</option>
    </select>
        </div>
        <div class="input-box">
            <span for="details">Special Properties</span>
            <textarea class="form-control" name="Special_Properties" id="Special_Properties" placeholder="Special Properties" [(ngModel)]="plantdata.Special_Properties" rows="3" cols="20"></textarea>
        </div>


        <div class="input-box">
            <span for="details">Location</span>
            <input type="text" class="form-control" name="Location" id="Location" [(ngModel)]="plantdata.Location" placeholder="Enter Location">
        </div>

        <div class="input-box">
            <span for="details">Container</span>
            <input type="text" class="form-control" name="Container" id="Container" [(ngModel)]="plantdata.Container" placeholder="Enter Container">
        </div>

        <div class="input-box">
            <span for="details">Sowing Period</span>
            <input type="text" class="form-control" name="Sowing_Period" id="Sowing_Period" [(ngModel)]="plantdata.Sowing_Period" placeholder="Enter Months">
        </div>

        <div class="input-box">
            <span for="details">Blooming Period</span>
            <input type="text" class="form-control" name="Blooming_Period" id="Blooming_Period" [(ngModel)]="plantdata.Blooming_Period" placeholder="Enter Months">
        </div>


        <div class="input-box">
            <span for="details">Direction</span>
            <input type="text" class="form-control" name="Direction" id="Direction" [(ngModel)]="plantdata.Direction" placeholder="Enter Direction">
        </div>

        <div class="input-box">
            <span for="details">Exposure</span>
            <select class="form-control" name="Exposure" id="Exposure" [(ngModel)]="plantdata.Exposure">
        <option value="">--Select Values--</option>
        <option value="Bright">Bright</option>
        <option value="Partial">Partial</option>
        <option value="Shade">Shade</option>
    </select>
        </div>

        <div class="input-box">
            <span for="details">Soil</span>
            <input type="text" class="form-control" name="Soil" id="Soil" [(ngModel)]="plantdata.Soil" placeholder="Enter Soil">
        </div>

        <div class="input-box">
            <span for="details">Sunlight Frequency </span>
            <input type="text" class="form-control" name="Sunlight_Freq" id="Sunlight_Freq" [(ngModel)]="plantdata.Sunlight_Freq" placeholder="Enter Hours">
        </div>


        <div class="input-box">
            <span for="details">WaterReq</span>
            <input type="text" class="form-control" name="WaterReq" id="WaterReq" [(ngModel)]="plantdata.WaterReq" placeholder="Enter WaterReq">
        </div>

        <div class="input-box">
            <span for="details">WaterFreq</span>
            <input type="text" class="form-control" name="WaterFreq" id="WaterFreq" [(ngModel)]="plantdata.WaterFreq" placeholder="Enter WaterFreq">
        </div>

        <div class="input-box">
            <span for="details">Humidity</span>
            <input type="text" class="form-control" name="Humidity" id="Humidity" [(ngModel)]="plantdata.Humidity" placeholder="Enter Humidity">
        </div>

        <div class="input-box">
            <span for="details">Price</span>
            <input type="number" class="form-control" name="Price" id="Price" [(ngModel)]="plantdata.Price" placeholder="Enter Price">
        </div>

    </div>
    <div class="input-box">Size
      <form class="details" [formGroup]="radiobtn" (change)="form()" style="display: flex; gap:10px;">
                                <input type="radio" name="size" class="radioBtn" formControlName="Size" value="Medium">Medium
                                <input type="radio" name="size" class="radioBtn" formControlName="Size" value="Small">Small
                                <input type="radio" name="size" class="radioBtn" formControlName="Size" value="Large">large
    
                            </form></div>
                  </form>
          <div class="button">
            <!-- <input type="submit" value="Add Plant"> -->
            <!-- <button class="button-37" role="button">Add Plant</button>  -->
            <button class="button-21" role="button">Add Plant</button>  
        </div>

      </div>
    </div>
</section>
</body>

</html>