<div *ngIf="loading">
    <app-loader></app-loader>
  </div>
<body  *ngIf="!loading" >
  
<app-header></app-header>

<div *ngFor="let u of plant">
  <br>
  <h1 class="text-center">{{u.Common_Name}}</h1>   
  <br> <br> 
  <div class="row mb-5">
    
    <div class="col-sm-5 text-center ">
      <!-- <img [src]="u.Photo" class="img-thumbnail image w-75"> -->

        <div class="container">
            <div class="carousel">
                <input type="radio" name="slides" checked="checked" id="slide-1">
                <input type="radio" name="slides" id="slide-2">
                <input type="radio" name="slides" id="slide-3">
                 <input type="radio" name="slides" id="slide-4">
                <input type="radio" name="slides" id="slide-5">
                <input type="radio" name="slides" id="slide-6">
                <ul class="carousel__slides " style="border-radius: 40px; box-shadow: 3px 3px 5px black;">
                    <li class="carousel__slide">
                        <figure>
                            <div>
                                <img [src]="u.Photo_1" [alt]="u.Common_Name">
                            </div>
                        </figure>
                    </li>
                    <li class="carousel__slide">
                        <figure>
                            <div>
                              <img [src]="u.Photo_2" [alt]="u.Common_Name">
                            </div>
                        </figure>
                    </li>
                    <li class="carousel__slide">
                        <figure>
                            <div>
                              <img [src]="u.Photo_3" [alt]="u.Common_Name">
                            </div>
                  
                        </figure>
                    </li>
                   
                </ul>    
                <ul class="carousel__thumbnails" style="margin-left: 120px;">
                    <li>
                        <label for="slide-1"><img [src]="u.Photo_1" [alt]="u.Common_Name"></label>
                    </li>
                    <li>
                        <label for="slide-2"> <img [src]="u.Photo_2" [alt]="u.Common_Name"></label>
                    </li>
                    <li>
                        <label for="slide-3"> <img [src]="u.Photo_3" [alt]="u.Common_Name"></label>
                    </li>
                
                </ul>
            </div>
        </div>

        <qrcode class="qrcode2 qrscan1" qrdata="{{this.qrurl}}/#/plantinfo1/{{u.ID}}" [width]="250" [errorCorrectionLevel]="'M'" ></qrcode>

        <!-- <div class="col-sm-3 btn btn-success" routerLink="/plants/plantinfo2/{{u.ID}}">More Info</div> -->
    </div>
    <div class="col-sm-6 mt-3 float-left">
      <!-- <div  class="scale shadow mb-2 " style="border-radius: 40px; padding: 10px; "><img height="48px" width=" 48px" src="../../assets/icon/native_area.png" class="mr-4" alt=""><span>Native Area : </span>{{u.Native_Area}}</div>
      <div  class="scale shadow mb-2 " style="border-radius: 40px; padding: 10px; "><img height="48px" width=" 48px" src="../../assets/icon/overview.png" class="mr-4" alt=""><span>Overview : </span>{{u.Overview}}</div>
      <div  class="scale shadow mb-2 " style="border-radius: 40px; padding: 10px; "><img height="48px" width=" 48px" src="../../assets/icon/mature_size.png" class="mr-4" alt=""><span>Mature Size : </span>{{u.Mature_Size}}</div> -->
      <div  class="scale shadow mb-2 " style="border-radius: 40px; padding: 10px; "><img height="48px" width=" 48px" src="../../assets/icon/foliage.png" class="mr-4" alt=""><span>Foliage : </span>{{u.Foliage}}</div>
      <div  class="scale shadow mb-2 " style="border-radius: 40px; padding: 10px; "><img height="48px" width=" 48px" src="../../assets/icon/suitable_weather.png" class="mr-4" alt=""><span>Suitable Weather : </span>{{u.Suitable_Weather}}</div>
      <div  class="scale shadow mb-2 " style="border-radius: 40px; padding: 10px; "><img height="48px" width=" 48px" src="../../assets/icon/growing_season.png" class="mr-4" alt=""><span>Growing Season : </span>{{u.Growing_Season}}</div>
      <div  class="scale shadow mb-2 " style="border-radius: 40px; padding: 10px; "><img height="48px" width=" 48px" src="../../assets/icon/height.png" class="mr-4" alt=""><span>Height : </span>{{u.Height}}</div>
      <div  class="scale shadow mb-2 " style="border-radius: 40px; padding: 10px; "><img height="48px" width=" 48px" src="../../assets/icon/ultimate_height.png" class="mr-4" alt=""><span>Ultimate Height : </span>{{u.Ultimate_Height}}</div>
      <div  class="scale shadow mb-2 " style="border-radius: 40px; padding: 10px; "><img height="48px" width=" 48px" src="../../assets/icon/spread.png" class="mr-4" alt=""><span>Spread : </span>{{u.Spread}}</div>
      <div class="btn btn-success col-5 p-2" style="float: right;" routerLink="/plantinfo6/{{u.ID}}">Next<i class="fa  fa-arrow-right"></i></div>
    
      <qrcode class="qrscan2" qrdata="{{this.qrurl}}/#/plantinfo1/{{u.ID}}" [width]="250" [errorCorrectionLevel]="'M'"></qrcode>
    </div>
  </div>
</div>
<app-footer></app-footer>
</body>





