

<!DOCTYPE html>
<html lang="en">

<head>
</head>

<body>
    <app-admin></app-admin>
    <section class="container" *ngIf="trendingplant">
        <div class="p-2">
            <h3>Trend list of plants</h3>
        </div>
        <div *ngFor="let a of trend">
            <table class="table table-striped ">
                <thead>
                    <tr>
                    </tr>
                </thead>
                <tbody>
                    <tr>

                        <td class="col-5">{{a.Common_Name}}</td>
                        <td class="col-3">{{a.Botanical_Name}}</td>
                        <td class="col-1">{{a.Price}}</td>
                        <td><button class="btn btn-danger" (click)="removetrend(a.ID)">Remove</button></td>

                    </tr>

                </tbody>
            </table>
        </div>
    </section>


    <section class="container" *ngIf="listplants">
        <h3>List Of plants</h3>
        <div class=" p-2 ">
            <div class="alert alert-primary" role="alert" id="alert" *ngIf="trendplant">
                <div>{{message}}<span class="text-danger" style="cursor: pointer;">View plant</span></div>
            </div>
        </div>
        <div *ngFor="let a of plant">
            <table class="table table-striped ">
                <thead>
                    <tr>

                    </tr>
                </thead>
                <tbody>
                    <tr>

                        <td class="col-5">{{a.Common_Name}}</td>
                        <td class="col-3">{{a.Botanical_Name}}</td>
                        <td class="col-1">{{a.Price}}</td>
                        <td><button class="btn btn-info" (click)="trending(a.ID,a._id)">Trending</button></td>
                        <td><button class="btn btn-danger">EDIT</button></td>
                    </tr>

                </tbody>
            </table>
        </div>
    </section>
</body>

</html>