.txt
{
    color: black;
    transition: all 500ms ease-in-out;
}
.txt:hover{
    color: rgb(150, 24, 24);
    font-weight: bold;
}
.hover:hover
{
    background-color: rgb(0, 255, 106,0.1);
}

.search-hero 
{
    max-width: 400px;
    padding-bottom: 50px;
    margin:auto;
    margin-top: 50px;
  }
  
  .form-control {
    padding: 20px;
    box-shadow: 0 10px 40px 0 #B0C1D9;
  }
  .form-control::placeholder  {

    font-family: FontAwesome;
  }


.go {
  height: 720px;
}

.loading2main {
  height: 720px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loader2 {
  width: 48px;
  height: 48px;
  border: 5px solid #000000;
  border-bottom-color: transparent;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}



.cat
{
  // font-size:20px;
  cursor:pointer; 
  float: right;
  margin-right:30% ;
  font-size: 36px;
  margin-top: -10px;
}


  @media(max-width:600px) {
    .load-more {
        margin: 0 0;
        margin-left: 140px;
        margin-bottom: 50px;
    }
    .go {
        height: 100%;
    }
    .loading2main {
        height: 1500px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .search-hero
    {
      margin-top: 5px;
    }
    .cat
    {
      margin-right:0 ;
      float: right;
    }
}

/* toast.component.css */


.res1{
  color: red;
  position: absolute;
  z-index: 0;
  margin-top:3px ;
}
.fix{
  position:static;
  z-index: -1;
  color: rgb(199, 195, 195);
  

  
}


nav {
  width: 300px;
  background: #d9d9d9;
  margin: 40px auto;
}

@media (max-width:768px)
{
  .dropdown-item
  {
    width: 80vw !important;
  }
}
.dropdown-btn i {
  margin-left: 10px;
}

.dropdown-content {
  padding: 10px;
}

.dropdown-content select {
  margin-bottom: 10px;
}

.dropdown-content button {
  margin-top: 10px;
}

.dropdown-content .collapse {
  transition: height 0.4s ease;
  height: 0;
  overflow: hidden;
}

.show .dropdown-content .collapse {
  height: auto;
}

.custom-select::-ms-expand {
  display: none;
}

.custom-select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  padding-right: 1.75rem; /* Add some padding to the right for a cleaner look */
  background-image: url('../../assets/arrow.png'); /* Add your own custom arrow if needed */
  background-repeat: no-repeat;
  background-position: right 0.75rem top 50%;
}
/* sidebar.component.css */
.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 99;
  top: 0;
  right: 0;
  background-color: rgba(194, 226, 143, 1); 
background-image: url('../../assets/1.png');
background-size: auto 100%;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}




.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.closebtn {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 36px;
  margin-right: 10px;
}




select{
  width: 200px;
}

.filter
{
display: flex;
gap: 30px;
width: 150px;
height: 150px;
margin-top: 30px;
margin-bottom: 40px;
padding-left: 7%;
}
.text
{
  margin-left: 25px;
  margin-top: 10px;
} 
.pagination {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.pagination button {
  background-color: #3498db;
  border: 1px solid #3498db;
  color: white;
  padding: 8px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  cursor: pointer;
  margin: 0 4px;
  transition: background-color 0.3s;
}

.pagination button:hover {
  background-color: #2980b9;
}

.pagination button:disabled {
  background-color: #bdc3c7;
  border: 1px solid #bdc3c7;
  cursor: not-allowed;
}

.pagination .active {
  background-color: #2980b9;
}
/* Optional: Add a subtle box-shadow for a lifted effect */

.pagination button {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
/* Optional: Add a slight border-radius for rounded edges */

.pagination button {
  border-radius: 4px;
}


.detail-box {
  position: relative;
}

.s {
  position: absolute;
  right: 0;
}

.spans {
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(114, 245, 250);
  border-radius: 7px;
  width: 100%;
  padding: 5px 0px;
  transition: all ease 0.2s;
  cursor: pointer;
}

.spans:hover {
  scale: 0.98;
}

.heading_center {
  position: relative;
}
.alert {
  position: fixed;
  top: 15%;
  left: 79%;
  background: linear-gradient(to right,  #42A341, #89d662);
  // border: 0.7px solid green;
  color: rgb(255, 255, 255);
  font-weight: 300px;
  z-index: 9999999;

  // width: 50%;
}


.carousel2_1
{
  display: none;
}

.carousel2_2
{
  display: block;
}
@media (max-width:768px) {
  .carousel2_1
{
  display: block;
}

.carousel2_2
{
  display: none;
}
.carousel2_3
{
  padding-left: 3%;
}

.carousel2_1
{
  height: 10%;
  // width: 15%;
}

.alert
{
  left:10%;
  width: 100%;
}
}


.detail-box {
  position: relative;
}

.s {
  position: absolute;
  right: 0;
}

.spans {
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(114, 245, 250);
  border-radius: 7px;
  width: 100%;
  padding: 5px 0px;
  // transition: all ease 0.2s;
  cursor: pointer;
}

.price {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 6.5rem;
}

.spans:hover {
  scale: 0.98;
}

.msg {
  padding: 17px 50px;
  background-color: white;
  position: fixed;
  top: 15%;
  right: 0;
  width: 320px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  border-left: 6px solid #4070f4;
  transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.35);
  border-radius: 20px;
  display: flex;
  gap: 20px;
  z-index: 99999;
}

.icon {
  text-align: right;
  float: right;
  font-size: 20px;
}

.errorMessage {
  color: red;
}

.success {
  color: green;
}

