<div *ngIf="loading" class="loader">
</div>

<body *ngIf="!loading">
  <app-header></app-header>

  <section class="plant_section layout_padding">
    <div class="container">
     

      <div class="search-hero">
       <div class="row ">
      <input [(ngModel)]="searchQuery" class=" col-sm-10 form-control" placeholder="Enter plant name" />
      <button (click)="search()" class="col-sm-1.5 btn btn-secondary "><i class="fa fa-search fa-lg"></i></button>
       
   
    
<div style="float:right">
<div id="mySidenav2" class="sidenav" >
  <div style="display: flex; flex-direction: row; gap:10px; flex-wrap: wrap; justify-content: center;">
  <a href="javascript:void(0)" class="closebtn" (click)="closeNav()">&times;</a>
    <div>
      <!-- <label for="category">Category:</label> -->
      <select id="category" [(ngModel)]="categoryFilter"  class="custom-select">
        <option value="">Select Category</option>
        <option value="Both">Both</option>
        <option value="Indoor">Indoor</option>
        <option value="Outdoor">Outdoor</option>
      </select>
    </div>
    <div>
      <!-- <label for="Fragrance">Fragrance:</label> -->
      <select id="Fragrance" [(ngModel)]="FragranceFilter" class="custom-select">
        <option value="">Select Fragrance</option>
        <option value="Yes">Yes</option>
        <option value="No">No</option>
      </select>
    </div>
    <div>
      <!-- <label for="Toxicity">Toxicity:</label> -->
      <select id="Toxicity" [(ngModel)]="ToxicityFilter" class="custom-select">
        <option value="">Select Toxicity</option>
        <option value="Toxic">Toxic</option>
        <option value="Non-Toxic">Non-Toxic</option>
      </select>
    </div>
    <div>
      <!-- <label for="Maintenance">Maintenance:</label> -->
      <select id="Maintenance" [(ngModel)]="MaintenanceFilter" class="custom-select">
        <option value="">Select Maintenance</option>
        <option value="Easy">Easy</option>
        <option value="Mid">Mid</option>
        <option value="Pro">Pro</option>
      </select>
    </div>
    <div>
      <!-- <label for="price">price:</label> -->
      <select id="price" [(ngModel)]="priceFilter" class="custom-select">
        <option value="">Select price </option>
        <option value="50">0-50</option>
        <option value="500">50-500</option>
        <option value="1000">500-1000</option>

        
      </select>
    </div>
    <div>
      <!-- <label for="Exposure">Exposure:</label> -->
      <select id="Exposure" [(ngModel)]="ExposureFilter" class="custom-select">
        <option value="">Select Exposure</option>
        <option value="Bright">Bright</option>
        <option value="Partial">Partial</option>
        <option value="Shade">Shade</option>
      </select>
    </div>
    <div>
      <!-- <label for="WaterReq">WaterReq:</label> -->
      <select id="WaterReq" [(ngModel)]="WaterReqFilter" class="custom-select">
        <option value="">Select WaterReq</option>
        <option value="High">High</option>
        <option value="Medium">Medium</option>
        <option value="Low">Low</option>
      </select>
    </div>
    <div>
    </div>
    <div>
      <button (click)="filterPlants()" class="bg-default border-0 " style="  box-shadow: 2px 2px 4px black; border-radius:10px;"><i class="fa fa-filter "></i>filter</button>
      <button (click)="clearAllFilters()"  class="bg-default border-0 " style="box-shadow: 2px 2px 4px black; border-radius:10px;"><i class="fa fa-close" ></i>clear all</button></div> 
    </div> 
    
  </div>


</div>
</div>

</div>
<span style="font-size:30px;cursor:pointer; float: left; " (click)="openNav()"><i class="fa fa-filter " > </i></span>

      <div class="heading_container heading_center">

        <h2>
          Our <span>Plants</span>
        </h2>
      </div>
     
        <!-- <h1>Plant List</h1> -->
        
      <div class="row">
        <div class="col-sm-6 col-md-4 col-lg-3" *ngFor="let plant of plants  |paginate: { itemsPerPage: 8, currentPage: p }">
          <div class="box hover txt" style="box-shadow: 3px 3px 20px rgb(0, 0, 0,0.3);">
           


            <div *ngFor="let w of data">
              <a (click)="deletewishlist(w._id)" *ngIf="w.productId == plant.ID">
                <i class="fa fa-heart mb-2" [ngClass]="w.class" ></i>
              </a>
            </div>
            <a  (click)="wishlist({productId:plant.ID,userId:userID})">
              <i class="fa fa-heart mb-2 fix"  style="z-index: 0;"></i>
            </a>



            <a  routerLink="plantinfo1/{{plant.ID}}" style="text-decoration: none;">
              <div class="img-box " >
                <img [src]="plant.Photo_1" [alt]="plant.Common_Name">

   
              </div>
              <div class="detail-box">
                <a href="#" style="text-decoration: none;">
                  {{plant.Botanical_Name}}
                </a>
                <h5>
                  &#8377;{{plant.Price}}
                </h5>
              </div>
            </a>
          </div>

        </div><br><br>
      </div>
    </div> 
    <div class="mt-5">
     <pagination-controls (pageChange)="p = $event" style="display: flex; justify-content: center;"></pagination-controls>
    </div>
  </section>

<app-footer></app-footer>
  </body>
  