<div *ngIf="loading">
    <app-loader></app-loader>
  </div>
<body  *ngIf="!loading" >

 <app-header></app-header>
 
<div *ngFor="let u of plant">
  <br>
  <h1 class="text-center">{{u.Common_Name}}</h1>   
  <h1 class="text-center">Caring Instruction</h1>
  <br> <br> 
  <div class="row mb-5">
    <div class="col-sm-5 text-center ">
      <!-- <img [src]="u.Photo" class="img-thumbnail image w-75"> -->

        <div class="container">
            <div class="carousel">
                <input type="radio" name="slides" checked="checked" id="slide-1">
                <input type="radio" name="slides" id="slide-2">
                <input type="radio" name="slides" id="slide-3">
                 <input type="radio" name="slides" id="slide-4">
                <input type="radio" name="slides" id="slide-5">
                <input type="radio" name="slides" id="slide-6">
                <ul class="carousel__slides " style="border-radius: 40px; box-shadow: 3px 3px 5px black;">
                    <li class="carousel__slide">
                        <figure>
                            <div>
                                <img [src]="u.Photo_1" [alt]="u.Common_Name">
                            </div>
                        </figure>
                    </li>
                    <li class="carousel__slide">
                        <figure>
                            <div>
                              <img [src]="u.Photo_2" [alt]="u.Common_Name">
                            </div>
                        </figure>
                    </li>
                    <li class="carousel__slide">
                        <figure>
                            <div>
                              <img [src]="u.Photo_3" [alt]="u.Common_Name">
                            </div>
                  
                        </figure>
                    </li>
                   
                </ul>    
                <ul class="carousel__thumbnails" style="margin-left: 120px;">
                    <li>
                        <label for="slide-1"><img [src]="u.Photo_1" [alt]="u.Common_Name"></label>
                    </li>
                    <li>
                        <label for="slide-2"> <img [src]="u.Photo_2" [alt]="u.Common_Name"></label>
                    </li>
                    <li>
                        <label for="slide-3"> <img [src]="u.Photo_3" [alt]="u.Common_Name"></label>
                    </li>
                
                </ul>
            </div>
        </div>

        <qrcode class="qrcode2" qrdata="https://growmoreplant.netlify.app/plants/plantinfo1/{{u.ID}}" [width]="250" [errorCorrectionLevel]="'M'" ></qrcode>

        <!-- <div class="col-sm-3 btn btn-success" routerLink="/plants/plantinfo2/{{u.ID}}">More Info</div> -->
    </div>
    <div class="col-sm-6 mt-3 float-left">


      <div  class="scale shadow mb-2 " style="border-radius: 40px; padding: 10px; "><img src="../../assets/icon/sunlight.png" height="48px" width="48px" class="mr-4"><span>Sunlight_Freq : </span>{{u.Sunlight_Freq}}</div>
      <div  class="scale shadow mb-2 " style="border-radius: 40px; padding: 10px; "><img src="../../assets/icon/water_req.png" height="48px" width="48px" class="mr-4"><span>Water Req : </span>{{u.WaterReq}}</div>
      <div  class="scale shadow mb-2 " style="border-radius: 40px; padding: 10px; "><img src="../../assets/icon/water_fre.png" height="48px" width="48px" class="mr-4"><span>Water Freq : </span>{{u.WaterFreq}}</div>
      <div  class="scale shadow mb-2 " style="border-radius: 40px; padding: 10px; "><img src="../../assets/icon/temperature.png" height="48px" width="48px" class="mr-4"><span>Temperature : </span>{{u.Temprature}}</div>
      <div  class="scale shadow mb-2 " style="border-radius: 40px; padding: 10px; "><img height="48px" width=" 48px" src="../../assets/icon/humidity.png" class="mr-4" alt=""><span>Humidity : </span>{{u.Humidity}}</div>
      <div  class="scale shadow mb-2 " style="border-radius: 40px; padding: 10px; "><img height="48px" width=" 48px" src="../../assets/icon/fertilizer.png" class="mr-4" alt=""><span>Fertilizer : </span>{{u.Fertilizer}}</div>
      <div class="btn btn-success col-5 p-2" routerLink="/plants/plantinfo1/{{u.ID}}"><i class="fa  fa-arrow-left"></i> Back</div>
      <!-- <div class="btn btn-success col-5 p-2" style="float: right;" routerLink="/plants/plantinfo4/{{u.ID}}">Next<i class="fa  fa-arrow-right"></i></div> -->
    
      <qrcode qrdata="https://growmoreplant.netlify.app/plants/plantinfo1/{{u.ID}}" [width]="250" [errorCorrectionLevel]="'M'"></qrcode>
    </div>
  </div>
</div>
<app-footer></app-footer>
</body>




