<app-header></app-header>
  
  
  <!-- <div class="most_main" style="background-color: rgba(236, 236, 236, 0.7); " >
    <div class="main_1" >
      <div class="main_1_2">
        <div class="main_text">
          <b> Sign Up </b>
        </div>
        <form action="" (ngSubmit)="signup(formdata)"> 
        <div class="ml-5 m-2">
          <div>
            <label for="username" class="label1 ml-3">Username :-</label>
          </div>
          <div>
            <input type="text" class="w-90 email1" id="username" name="username" [(ngModel)]="formdata.username">
          </div>
        </div>
        <div class="ml-5 m-2">
          <div>
            <label for="email" class="label1 ml-3">Email :-</label>
          </div>
          <div>
            <input type="email" class="w-90 email1" id="email" name="email" [(ngModel)]="formdata.email">
          </div>
        </div>
        <div class="ml-5 m-2">
          <div>
            <label for="phone" class="label1 ml-3">phone Number :-</label>
          </div>
          <div>
            <input type="Number" class="w-90 email1" id="phone" name="phone" [(ngModel)]="formdata.phone">
          </div>
        </div>
        <div class="ml-5 m-2">
          <div>
            <label for="address" class="label1 ml-3">Address:-</label>
          </div>
          <div>
            <input type="text" class="w-90 email1" id="address" name="address" [(ngModel)]="formdata.address">
          </div>
        </div>
        <div class="ml-5 m-2">
          <div>
            <label for="Password" class="label1 ml-3 ">Password :-</label>
          </div>
          <div>
            <input type="password" class="w-90 Password1" id="password" name="password" [(ngModel)]="formdata.password">
          </div>
        </div>
        <div class="ml-5 m-2">
          <div>
            <label for="cPassword" class="label1 ml-3 ">Confirm Password :-</label>
          </div>
          <div>
            <input type="password" class="w-90 Password1"  id="cpassword" name="cpassword" [(ngModel)]="formdata.cpassword">
          </div>
        </div>
        <div class="ml-5 m-2">
        <div *ngIf="errormessage" class="errorMessage">{{errormessage}}</div>
        <div *ngIf="success" class="success">{{success}}</div>
        </div>
        <div>
          <div class="center1">
            <input type="submit" class="btn btn-success w p-1 m-2">
          </div>
        </div>
        </form>
      </div>
      <div class="main_1_1">
        <img src="../../assets/back4.jpg" alt="" class="main_img">
      </div>
      
    </div>
  </div>
mobile 
  
-->
  <html lang="en">
  <head>
    


  </head>
  <body>
    <div class="container">
      <input type="checkbox" id="check">
      <div class="login form">
        <header>Sign Up</header>
        <form action="" (ngSubmit)="signup(formdata)">
          <input type="text" placeholder="Enter your username" id="username" name="username" [(ngModel)]="formdata.username">
          <input type="email" placeholder="Enter your email" id="email" name="email" [(ngModel)]="formdata.email">
          <input type="number" placeholder="Enter your phone number" id="phone" name="phone" [(ngModel)]="formdata.phone">
          <input type="text" placeholder="Enter your address"id="home_address" name="home_address" [(ngModel)]="formdata.home_address">
          <input type="password" placeholder="Enter your password"  id="password" name="password" [(ngModel)]="formdata.password">
          <input type="password" placeholder="Enter your confirm password"  id="cpassword" name="cpassword" [(ngModel)]="formdata.cpassword">
          <a href="#">Forgot password?</a>
          <input type="submit" class="button" value="Login">
          <div class="ml-5 m-2">
            <div *ngIf="errormessage" class="errorMessage">{{errormessage}}</div>
            <div *ngIf="success" class="success">{{success}}</div>
            </div>
        </form>
        <div class="signup">
       
        </div>
      </div>
      
    </div>
  </body>
  </html>

    <app-footer></app-footer>