<app-header></app-header>
<section class="h-100" style="background-color: #eee;">
    <div class="container h-100 py-5">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-10">

                <div class="d-flex justify-content-between align-items-center mb-4">
                    <div class="col-sm-10">
                        <h3 class="fw-normal mb-0 text-black">Current Order</h3>
                    </div>
                    <div>
                    </div>
                </div>
                <div class="card card-body">
                    <div class="row">
                        <div class="col-sm-2">OrderId</div>
                        <div class="col-sm-2">Price</div>
                        <div class="col-sm-2">quantity</div>
                        <div class="col-sm-2">Status</div>
                        <div class="col-sm-2">More Info</div>
                        <div class="col-sm-2"></div>

                    </div>
                </div>
                <div class="card rounded-3 mb-4" style="overflow-y: scroll; height: 400px;">
                    <div class="card-body p-4 mb-2">
                            <div *ngFor="let w of data">
                                <div class="row d-flex justify-content-between align-items-center mb-2">
                                    <div class="col-md-2 col-lg-2 col-xl-2 mb-2">
                                        {{w.orderID}}
                                    </div>
                                    <div class="col-md-1 col-lg-1 col-xl-1 mb-2">
                                        {{w.Price}}
                                    </div>
                                    <div class="col-md-3 col-lg-2 col-xl-2 offset-lg-1">
                                        <h6 class="mb-0" style="font-size: 1.0em;">{{w.quantity}} </h6>
                                    </div>
                                    <div class="col-sm-1 col-lg-1 col-xl-2 text-end">
                                        <a>{{w.statusbar}}</a>
                                    </div>
                                    <div class="col-sm-1 col-lg-1 col-xl-2 text-end">
                                        <div class="btn btn-success" routerLink="/orderinfo/{{w.orderID}}">
                                            More Info
                                        </div>
                                    </div> 
                                    <div class="col-sm-1 col-lg-1 col-xl-2 text-end">
                                        <div class="btn btn-danger" (click)="deleteorder(w._id)" *ngIf="w.statusbar == 'SUCCESS'">
                                            cancle
                                        </div>
                                    </div>                              
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            </div>
            
</section>
<app-footer></app-footer>
