.main {
  display: flex;
  gap: 70px;
  justify-content: center;
  flex-wrap: wrap;
}

.filter {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 150px;
  height: 150px;
  margin-top: -30px;
  margin-bottom: 40px;
  padding-left: 7%;
}

.a {
  margin-top: 10%;
  margin-left: 25%;
  margin-bottom: 2%;
}

.b {
  margin-left: 25%;
  text-shadow: 4px 4px 2px black;
  color: white;
}

.slide-up-container {
  overflow: hidden;
  position: relative;
}

.slide-up-text {
  position: relative;
  opacity: 0;
  transform: translateY(50px);
  animation: slideUp 2s forwards;
  // font-size: 4.0em;
}

@keyframes slideUp {
  to {
      opacity: 1;
      transform: translateY(0);
  }
}

@media screen and (max-width: 768px) {
  .main {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      margin-left: 100px;
  }
  .filter {
      flex-basis: calc(50% - 20px);
      margin: 10px 0;
  }
}

//slidenavbar
.left-navbar {
  position: fixed;
  top: 0;
  left: -250px;
  /* Start offscreen */
  height: 100%;
  width: 250px;
  background-color: rgb(75, 211, 170);
  opacity: 0.8;
  background-size: contain;
  background-repeat: no-repeat;
  box-shadow: 2px 0px 4px rgba(0, 0, 0, 0.2);
  transition: left 0.3s ease-in-out;
  z-index: 1;
  padding-top: 10%;
}

.left-navbar.active {
  left: 0;
}

.left-navbar-item {
  font-size: 25px;
  margin: auto;
  margin-top: 10%;
}

.left-navbar-link {
  text-decoration: none;
  color: black;
}

li {
  list-style: none;
}
