<app-admin></app-admin>
<body>
    <div class="container">
      <div class="title">New Stock</div>
      <div class="content">
        <form action="#">
          <div class="user-details">
            <div class="input-box">
              <span class="details">Plant Name</span>
              <input type="text" placeholder="Enter Plant Name" name="plant_name" id="plant_name" required>
            </div>
            <div class="input-box">
              <span class="details">Vender Name</span>
              <input type="text" placeholder="Enter Vender Name" name="vender_name" id="vender_name" required>
            </div>
            <div class="input-box">
              <span class="details">Invoice No.</span>
              <input type="number" placeholder="Enter Invoice Number" name="invoice_no." id="invoice_no." required>
            </div>
            <div class="input-box">
              <span class="details">Invoice Date</span>
              <input type="number" placeholder="Enter Invoice Date" name="invoice_dt" id="invoice_dt" required>
            </div>
            <div class="input-box">
              <span class="details">Quantity</span>
              <input type="number" placeholder="Enter Quantity" name="qty" id="qty" required>
            </div>
            <div class="input-box">
              <span class="details">Price</span>
              <input type="number" placeholder="Enter Price" name="price" id="price" required>
            </div>
          </div>

       
          <div class="button">
            <input type="submit" value="Add Stock">
          </div>
        </form>
      </div>
    </div>
  </body>