<app-admin></app-admin>

<body>
    <div class="msg" *ngIf="success">
        <div class="icon" *ngIf="success "><i class="bi bi-person-fill-check"></i></div>
        <!-- <div class="icon" *ngIf="errormessage "><i class="bi bi-exclamation-triangle-fill"></i></div> -->
        <!-- <div *ngIf="errormessage " class="errorMessage">{{errormessage}}</div> -->
        <div *ngIf="success " class="success ">{{success}}</div>
    </div>
    <section class="container" *ngIf="addstock">
        <div class="title">New Stock</div>
        <div class="content">
            <form (ngSubmit)="stock(formdata)">
                <div class="user-details">
                    <div class="input-box">
                        <span class="details">Plant Name</span>
                        <input type="text" autocomplete="off" [(ngModel)]="formdata.plantName" (input)="realTimeSearch()" placeholder="Enter Plant Name" name="plant_name" id="plant_name" required>
                        <div class="dropdown" *ngIf="searchdata" style="position: absolute; box-shadow: rgba(99, 99, 99, 0.3) 0px 2px 8px 0px;">
                            <div class="bg-white" *ngFor="let plant of serachplant" style="width: 100%;">
                                <button style="width: 21vw; padding: 1px 20px;" class="dropdown-item" type="button" (click)="setInputValue(plant.Common_Name)">{{ plant.Common_Name }}</button>
                            </div>
                        </div>
                    </div>
                    <div class="input-box">
                        <span class="details">Vender Name</span>
                        <input type="text" autocomplete="off" placeholder="Enter Vender Name" name="vender_name" id="vender_name" [(ngModel)]="formdata.vendername" required>
                    </div>
                    <div class="input-box">
                        <span class="details">Invoice No.</span>
                        <input type="number" placeholder="Enter Invoice Number" name="invoice_no." id="invoice_no." [(ngModel)]="formdata.invoiceNumber" required>
                    </div>
                    <div class="input-box">
                        <span class="details">Invoice Date</span>
                        <input type="date" placeholder="Enter Invoice Date" name="invoice_dt" id="invoice_dt" [(ngModel)]="formdata.invoiceDate" required>
                    </div>
                    <div class="input-box">
                        <span class="details">Quantity</span>
                        <input type="number" placeholder="Enter Quantity" name="qty" id="qty" [(ngModel)]="formdata.quantity" required>
                    </div>
                    <div class="input-box">
                        <span class="details">Price</span>
                        <input type="number" placeholder="Enter Price" name="price" id="price" [(ngModel)]="formdata.price" required>
                    </div>
                    <!-- <div class="input-box">
                        <span class="details">Plant Size</span>
                        <input type="string" placeholder="Enter plant size" name="size" id="size" [(ngModel)]="formdata.Size" required>
                    </div> -->
                    <div class="input-box">

                        <span class="details">Plant Size</span>
                        <select class="form-control" name="Size" id="Size" [(ngModel)]="formdata.Size">
                        <option value="">--Select Values--</option>
                        <option value="Small">Small</option>
                        <option value="Medium">Medium</option>
                        <option value="Large">Large</option>
                        </select>
                    </div>
                </div>
                <div class="button">
                    <input type="submit" value="Add Stock">
                </div>
            </form>
        </div>
    </section>
    <section *ngIf="totalstock" class="container">


        <div style="display: flex; justify-content:space-between; margin-bottom: 20px;">
            <h2>List of Stock</h2>
            <span> <input autocomplete="off" type="text" id="input" [(ngModel)]="searchitem" (input)="totalstocksearch()"  class="form-control" placeholder="Enter plant name" style="width: 300px; padding-left: 20px;" /></span>


        </div>
        <div class="dropdown" *ngIf="searchdata && serachplant" style="position: fixed; z-index:1; left: 52.5%; padding:10px; background: #fff;  ;  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.15);  ;">
            <div class="bg-white" *ngFor="let plant of serachplant" style="width: 100%; ">
                <button style="width: 21vw;" class="dropdown-item" type="button" (click)="stockget(plant.ID)">{{ plant.Common_Name }}</button>
            </div>
        </div>





        <table class="table mt-2">
            <thead class="thead-light">
                <tr>
                    <th class="col-1">No.</th>
                    <th class="col-3 w-50">Common Name</th>
                    <th class="col-1">Stock</th>
                    <th class="col-1">Size</th>
                    <th class="col-1  ">Delete</th>
                </tr>
            </thead>
        </table>
        <div class="list-container">
            <div class="list-item" *ngFor="let stock of stockinfo; let i = index">
                <table class="table">
                    <tbody>
                        <tr>
                            <td class="col-1">{{i+1}}</td>
                            <td class="col-3 w-50">{{stock.Common_Name}}</td>

                            <td class="col-1">{{stock.Stock}}</td>
                            <td class="col-1">{{stock.Size}}</td>
                            <td class="col-1"><button class="btn" (click)="remove(stock._id)">Remove</button></td>
                    </tbody>
                </table>
            </div>
        </div>
    </section>
    <div class="model" id="model">

        <div class="content">
            <form (ngSubmit)="feedbackdata(feedback)">
                <h2>Reason</h2>
                <div class="text">
                    <textarea type="text" placeholder="Enter Reason" id="reason" name="reason" [(ngModel)]="feedback.reason"></textarea>
                </div>
                <div class="quantity">
                    <h2>Quantity</h2>
                    <div class="text">
                        <input type="number" placeholder="Enter quantity" id="quantity" name="quantity" [(ngModel)]="feedback.quantity">
                    </div>
                </div>

                <button class="btnclass" type="submit">Submit</button>
            </form>
        </div>
        <i class="bi bi-x" (click)="close()"></i>
    </div>
</body>