@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    //   background:  linear-gradient(to right, #11998e, #38ef7d);
}

.container {
    max-width: 700px;
    width: 100%;
    background-color: #fff;
    margin-top: 5%;
    padding: 25px 30px;
    border-radius: 5px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
}

.container .title {
    font-size: 25px;
    font-weight: 500;
    position: relative;
}

.container .title::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 3px;
    width: 30px;
    border-radius: 5px;
    //   background: linear-gradient(135deg, #71b7e6, #9b59b6);
}

.content form .user-details {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 20px 0 12px 0;
}

form .user-details .input-box {
    margin-bottom: 15px;
    width: calc(100% / 2 - 20px);
}

form .input-box span.details {
    display: block;
    font-weight: 500;
    margin-bottom: 5px;
}

.user-details .input-box input {
    height: 45px;
    width: 100%;
    outline: none;
    font-size: 16px;
    border-radius: 5px;
    padding-left: 15px;
    border: 1px solid #ccc;
    border-bottom-width: 2px;
    transition: all 0.3s ease;
}

.user-details .input-box input:focus,
.user-details .input-box input:valid {
    border-color: #4adfd2;
}

form .gender-details .gender-title {
    font-size: 20px;
    font-weight: 500;
}

form .category {
    display: flex;
    width: 80%;
    margin: 14px 0;
    justify-content: space-between;
}

form .category label {
    display: flex;
    align-items: center;
    cursor: pointer;
}

form .category label .dot {
    height: 18px;
    width: 18px;
    border-radius: 50%;
    margin-right: 10px;
    background: #d9d9d9;
    border: 5px solid transparent;
    transition: all 0.3s ease;
}

form .button {
    height: 45px;
    margin: 35px 0
}

form .button input {
    height: 100%;
    width: 100%;
    border-radius: 5px;
    border: none;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 1px;
    cursor: pointer;
    transition: all 0.3s ease;
    background: linear-gradient(to right, #0cebeb, #20e3b2, #29ffc6);
}

form .button input:hover {
    /* transform: scale(0.99); */
    background: linear-gradient(to right, #0cebeb, #20e3b2, #29ffc6);
}


/* Chrome, Safari, Edge, Opera */

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

@media(max-width: 584px) {
    .container {
        max-width: 100%;
    }
    form .user-details .input-box {
        margin-bottom: 15px;
        width: 100%;
    }
    form .category {
        width: 100%;
    }
    .content form .user-details {
        max-height: 300px;
        overflow-y: scroll;
    }
    .user-details::-webkit-scrollbar {
        width: 5px;
    }
}

@media(max-width: 459px) {
    .container .content .category {
        flex-direction: column;
    }
}

.list-container {
    width: 100%;
    height: 380px;
    overflow-y: scroll;
    background-color: transparent;
}

.list-container::-webkit-scrollbar {
    width: 12px;
}

.list-container::-webkit-scrollbar-track {
    background-color: transparent;
}

.list-container::-webkit-scrollbar-thumb {
    background: grey;
    height: 20%;
    border-radius: 20px;
}

.msg {
    padding: 17px 50px;
    background-color: white;
    position: fixed;
    top: 14%;
    right: 0;
    width: 320px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    border-left: 6px solid #4070f4;
    transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.35);
    border-radius: 20px;
    display: flex;
    gap: 20px;
    z-index: 99999;
}

// span {
//     color: #4070f4;
//     font-weight: 700;
// }
.icon {
    text-align: right;
    float: right;
    font-size: 20px;
}

.errorMessage {
    color: red;
}

.success {
    color: green;
}

.model {
    position: absolute;
    top: 10%;
    margin-top: 20px;
    display: flex;
    height: 24rem;
    width: 35rem;
    background-color: white;
    box-shadow: 0px 2px 10px black;
    border-radius: 10px; // transition: all ease-in .5s;
}

.content {
    padding: 40px 50px;
}

.content h2 {
    font-size: 1.3rem;
    margin: 10px 0;
}

.content textarea {
    padding: 10px 10px;
    width: 30vw;
    border-radius: 10px;
    font-size: 1rem;
    // transition: all ease 0.3s;
}

textarea:focus {
    border: 1px solid green;
}

.quantity {
    // display: flex;
    align-items: center;
    gap: 0.5rem;
}

.quantity input {
    padding: 8px 10px;
    border-radius: 10px;
    font-size: 1rem;
    // transition: all ease 0.3s;
    width: 100%;
    border: 1px solid black;
}

.btnclass {
    margin: 25px 0px;
    width: 100%;
    padding: 07px 10px;
    background-color: red;
    color: white;
    text-align: center;
    border: 0;
    color: white;
    border-radius: 3px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

i {
    // background-color: red;
    padding: 10px 0;
    font-size: 30px;
}

.btn {
    width: 100%;
    padding: 07px 10px;
    background-color: red;
    color: white;
    text-align: center;
}

#model
{
    visibility: hidden;
}