<app-header></app-header>
<div *ngIf="loading">
  <app-loader></app-loader>
</div>
<body  *ngIf="!loading">
  

<div style="margin-top: 80px;" *ngFor="let u of plant">
  <br>
  <h1 class="text-center">{{u.Common_Name}}</h1>   
  <br> <br> 
  <div class="row mb-5">
    
    <div class="col-sm-5 text-center ">
      <!-- <img [src]="u.Photo" class="img-thumbnail image w-75"> -->

        <div class="container">
            <div class="carousel">
                <input type="radio" name="slides" checked="checked" id="slide-1">
                <input type="radio" name="slides" id="slide-2">
                <input type="radio" name="slides" id="slide-3">
                 <input type="radio" name="slides" id="slide-4">
                <input type="radio" name="slides" id="slide-5">
                <input type="radio" name="slides" id="slide-6">
                <ul class="carousel__slides " style="border-radius: 40px; box-shadow: 3px 3px 5px black;">
                    <li class="carousel__slide">
                        <figure>
                            <div>
                                <img [src]="u.Photo_1" [alt]="u.Common_Name">
                            </div>
                        </figure>
                    </li>
                    <li class="carousel__slide">
                        <figure>
                            <div>
                              <img [src]="u.Photo_2" [alt]="u.Common_Name">
                            </div>
                        </figure>
                    </li>
                    <li class="carousel__slide">
                        <figure>
                            <div>
                              <img [src]="u.Photo_3" [alt]="u.Common_Name">
                            </div>
                  
                        </figure>
                    </li>
                   
                </ul>    
                <ul class="carousel__thumbnails" style="margin-left: 120px;">
                    <li>
                        <label for="slide-1"><img [src]="u.Photo_1" [alt]="u.Common_Name"></label>
                    </li>
                    <li>
                        <label for="slide-2"> <img [src]="u.Photo_2" [alt]="u.Common_Name"></label>
                    </li>
                    <li>
                        <label for="slide-3"> <img [src]="u.Photo_3" [alt]="u.Common_Name"></label>
                    </li>
                
                </ul>
            </div>
        </div>

        <qrcode class="qrscan1 qrcode2" qrdata="`{{this.qrurl}}`/plantinfo1/{{u.ID}}" [width]="250" [errorCorrectionLevel]="'M'" ></qrcode>

        <!-- <div class="col-sm-3 btn btn-success" routerLink="/plants/plantinfo2/{{u.ID}}">More Info</div> -->
    </div>
    <div class="col-sm-6 mt-3 float-left">
      <div class="scale shadow mb-2 " style="border-radius: 40px; padding: 10px; "><img height="48px" width=" 48px" src="../../assets/icon/common.png" class="mr-4" alt=""><span>Common Name : </span>{{u.Common_Name}}</div>
      <div class="scale shadow  mb-2 " style="border-radius: 40px; padding: 10px; "><img height="48px" width=" 48px" src="../../assets/icon/bote.png" class="mr-4" alt=""><span>Botanical Name : </span>{{u.Botanical_Name}}</div>
      <div class="scale shadow  mb-2 " style="border-radius: 40px; padding: 10px; "><img height="48px" width=" 48px" src="../../assets/icon/op.png" class="mr-4" alt=""><span>Category : </span>{{u.Category}}</div>
      <div class="scale shadow  mb-2  " style="border-radius: 40px; padding: 10px; "><img height="48px" width=" 48px" src="../../assets/icon/ii.png" class="mr-4" alt=""><span>Growing Time : </span>{{u.Growing_Time}}</div>
      <div class="scale shadow  mb-2  " style="border-radius: 40px; padding: 10px; "><img height="48px" width=" 48px" src="../../assets/icon/toxic.png" class="mr-4" alt=""><span>Maintenance : </span>{{u.Maintenance}}</div>
      <div class="scale shadow  mb-2  " style="border-radius: 40px; padding: 10px; "><img height="48px" width=" 48px" src="../../assets/icon/special.png" class="mr-4" alt=""><span>Special_Properties : </span>{{u.Special_Properties}}</div>
      <div class="scale shadow  mb-2  " style="border-radius: 40px; padding: 10px; "><img height="48px" width=" 48px" src="../../assets/icon/price.png" class="mr-4" alt=""><span>Price : </span>{{u.Price}}</div>
      <div class="row m-3 p-2 button2" style="gap:20px; " >
      <div class=" button btn-success b" routerLink="/plantinfo3/{{u.ID}}">CARING INSTRUCTION<i class="m-2	fa fa-info-circle"></i></div>
      <div class=" button btn-success b" routerLink="/plantinfo2/{{u.ID}}">PLANTING INSTRUCTION<i class="m-2	fa fa-info-circle"></i></div>
      <div class=" button btn-success b" routerLink="/plantinfo4/{{u.ID}}">MORE INFO<i class="m-2	fa fa-info-circle"></i></div>
      <div class=" quantity" style="align-items: center; justify-content: center;">
      </div>
      <div class="input-group col-sm-3 quantity" style="align-items: center; justify-content: center;">
        <span class="input-group-btn">
          <button type="button" class="btn btn-success btn-number"  (click)="quantity('min')">
            <span class="fa fa-minus"></span>
          </button>
        </span>
        <input type="text" name="quant[1]" class="form-control input-number" value="{{productquantity}}"  min="1" max="20" disabled>
        <span class="input-group-btn">
          <button type="button" class="btn btn-success btn-number" (click)="quantity('plus')" >
            <span class="fa fa-plus"></span>
          </button>
        </span>
      </div>
      <div class="col-sm-3 btn p-1 btn-success "(click)="addtocart()">Add to Cart <i class="m-2 fa fa-cart-plus"></i></div>
      </div>
     
       <qrcode class="qrcode qrscan2 "  qrdata="`{{this.qrurl}}`/plantinfo1/{{u.ID}}" [width]="250" [errorCorrectionLevel]="'M'" ></qrcode> 
    </div>

  </div>
</div>
<div class="alert alert-primary" role="alert" *ngIf="addcart">
  <div>{{addcart}}<span class="text-danger" style="cursor: pointer;" routerLink="/cart">View Cart</span></div>
 </div>
<app-footer></app-footer>
</body>

