
#pointer {
    margin-left: 50px;
    padding-left: 30px;
    width: 290px;
    height: 40px;
    position: relative;
    background: red;
color: chartreuse;
transition: all 0.05s ease;
  }

 

  #pointer:after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 0;
    border-left: 20px solid white;
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent;
  }
  #pointer:before {
    content: "";
    position: absolute;
    right: -20px;
    bottom: 0;
    width: 0;
    height: 0;
    border-left: 20px solid red;
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent;
  }

.c
{
    display: grid;
    row-gap: 30px;
    column-gap: 30px;
    font-weight: bold;
    color:white;
}

.qrcode
{
    display: none;
}

@media (max-width:600px)
{
.qrcode{
    display:block;
 margin-left: 87px;
}
.qrcode2
{
    display: none;
}
.text-center
{
    font-size: 2.0em;
}
.quantity
{
    margin-left: 80px;
    max-width: 200px;
}
.b
{
   max-width: 300px;
 margin: auto;
}
.button2
{
    display: flex; 
    flex-direction: column;
  
}
.button2 div
{
    width: 100%;
    text-align: center;
    padding: 10px;
     
}
}
.button
{
    // margin-left: 80px;
    // max-width: 220px;
    padding: 5px;
    border-radius: 10px;
    
}